h2 {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fcc8d1;
}
h5 {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fcc8d1;
}